<app-menu></app-menu>

<table class="table" border="1">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor ="let s of subjects">
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
     
      
      <td> <a class="btn btn-danger"   [routerLink]="['/delete-subject',s.id]">DELETE</a>&nbsp;
        <a class="btn btn-success" [routerLink]="['/update-subject',s.id]">EDIT</a></td>

    </tr>

  </tbody>
</table>



